.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.typing-form {
  min-width: 700px;
  width: 100%;
}

.typing-full-width {
  width: 100%;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.float-right {
  float: right;
}

.count-down {
  font-size: 48px;
}