<mat-tab-group
  mat-align-tabs="center"
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="selectedTabChange($event.index)"
>
  <mat-tab
    *ngFor="let time of timeSetList"
    label="{{ time + (time === 1 ? ' minute' : ' minutes') }}"
  ></mat-tab
></mat-tab-group>

<div class="container" *ngIf="showStartButton">
  <button mat-raised-button color="accent" (click)="startTypingTest()">
    Start Typing Test
  </button>
</div>
<div class="container" *ngIf="!showStartButton">
  <!-- Timer -->
  <div class="timer-container">
    <p>TIME LEFT</p>
    <countdown
      #countdown
      [config]="config"
      (event)="handleEvent($event)"
    ></countdown>
  </div>
  <!-- Score -->
  <p>Score: {{ score }}</p>
  <!-- Text -->
  <div class="typing-paragraph">
    <span
      *ngFor="let text of stringArr; let i = index"
      [class.active]="i === currentWordIndex"
      >{{ text }}</span
    >
  </div>
  <!-- Input box -->
  <div>
    <form class="typing-form">
      <mat-form-field class="typing-full-width">
        <mat-label>Let's take the test</mat-label>
        <textarea
          matInput
          placeholder="Start Typing"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="3"
          (change)="onStartTyping($event)"
          (focus)="startTimer()"
          (keyup)="onInputKeyUp($event)"
        ></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
