.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.typing-form {
  min-width: 700px;
  width: 100%;
}

.typing-paragraph {
  max-width: 700px;
  width: 100%;
  overflow-y: scroll;
  height: 100px;
  background-color: white;
  color: #000;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}

.typing-full-width {
  width: 100%;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

span.active {
  color: #69f0ae;
}
span.shaded {
  color: #d8d8d8;
}

.float-right {
  float: right;
}

.count-down {
  font-size: 48px;
}