.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.typing-form {
  min-width: min(700px, 100vw);
  width: 100%;
  margin: 5px;
}

.typing-full-width {
  width: 100%;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.float-right {
  float: right;
}

.count-down {
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 5px;
  }
}